<h1> New Review </h1>
<% @review.errors.full_messages.each do |e| %>
    <%= e %>
  <% end %>  
<%= form_for(@review) do |f| %>
    <%= f.label :header %>
    <%= f.text_field :header %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit %>
<% end %>    
