<h2>Review for <%=@review.movie.title %>
<br>
<h3> 
Reviewer: <%= @review.user.name %>
<br>
Review Title: <%= @review.header %>
<br>
Review:
<br>
<%= @review.body %></h2>

<% if @review.user == current_user %>
  <%= link_to "Edit Review", edit_review_path(@review)%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <%= button_to "Delete", @review, method: :delete %>
<% end %>
