<h2>Review for <%=@review.movie.title %>
<br>
<h3> 
Reviewer: <%= @review.user.name %>
<br>
Review Title: <%= @review.header %>
<br>
Review:
<br>
<%= @review.body %></h2>

<%= button_to "Edit", edit_review_path(@review) %>
<%= button_to "Delete", @review, method: :delete %>