<h2>Review for <%= link_to @review.movie.title, movie_path(@review.movie_id) %></h2>
<br>
<h3> 
Reviewer: <%= link_to @review.user.name, user_path(@review.user_id) %>
<br>
<br>
Review Title: <%= @review.header %>
<br>
<br>
Review:
<br>
<%= @review.body %>

<% if @review.user == current_user %>
  <%= link_to "Edit Review", edit_review_path(@review)%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <%= button_to "Delete", @review, method: :delete %>
<% end %></h3>
