<!DOCTYPE html>
<html>
  <head>
    <title>MovieReviewRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div> 

  <%= link_to "Home", '/' %> |
  
  <% if logged_in? %>

  <%= link_to "Your Content", user_path(current_user.id) %> |

  <%= link_to "Create New Review", new_user_review_path(current_user.id) %> |

  <%= link_to "Movies Index", movies_path %> |

  <%= link_to "Reviews Index", reviews_path %> |

  <%= link_to "Logout", logout_path, method: :delete %>

  <% else %>
  <%= link_to "Sign Up", signup_path %> |

  <%= link_to "Log in", login_path %> |

  <%= link_to "Sign in with Git", '/auth/github', method: :post %>

  
  <% end %>
  </div>

  <div> <% if flash[:message] %>
    <%= flash[:message] %>
  <% end %>
  <%= @errors %>
  </div>  


    <%= yield %>
  </body>
</html>
